/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Plus+Jakarta+Sans:wght@300;400;700&family=Rubik:wght@300;400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}

.thin-scrollbar::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
  height: 6px; /* width of the entire scrollbar */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
